$player-column-size: 200px;
$footer-size: 50px;

html,
body {
  height: 100vh;
}

body {
  display: grid;
  grid-template-columns: $player-column-size 1fr $player-column-size;
  grid-template-rows: 1fr $footer-size;
}

.player-view,
.computer-view {
  background-color: red;
}

.main-view {
  background-color: blue;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 1 / -1;
}
