// CSS FOR STARTING LOGO
.main-view#start {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  .button-container {
    width: 500px;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;

    button:hover::before {
      content: ">";
      position: absolute;
      left: 50px;
      right: 200px;
    }
  }

  background-color: gray;
}

// CSS FOR PlAYING Rock Paper Scissors
.main-view#battle {
  display: grid;
  grid-template-rows: repeat(3, 1fr);

  background-color: gray;

  .battle-text {
    justify-self: flex-end;
    width: 500px;
    height: 100px;
    background-color: pink;
  }

  .battle-box {
    position: relative;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    .battle-header {
      height: 5ch;
      position: absolute;
      top: -3ch;
      left: 1ch;
    }
  }

  .moves-container {
    .move {
      $move-size: 100px;
      width: $move-size;
      height: $move-size;
      object-fit: cover;
    }

    .move-name {
      text-align: center;
    }
  }
}

// CSS FOR AFTER A BATTLEs
.main-view#after-battle {
  background-color: gray;
}

// CSS FOR AFTER A BATTLEs
.main-view#dialog {
  background-color: gray;
}
